<script>

    // Location info from input
    let location = '';
    let loading = false;
    let geoCodeData;
    let selectedLocationId = "";

    const hearMapApiKey = '*******';

    async function getGeoLocation() {
        loading = true;
        const res = await fetch(`https://geocode.search.hereapi.com/v1/geocode?apiKey=${hearMapApiKey}&q=${location}`);
        geoCodeData = await res.json();
        if (res.ok) {
            return geoCodeData;
        } else {
            throw new Error(geoCodeData);
        }
    }

    // Initialize promise with empty array
    let promise = Promise.resolve([]);

    function handleClick() {
        promise = getGeoLocation();
    }

    function handleLocationSelect() {
        geoCodeData.items.forEach(item => {
            if (item.id === selectedLocationId) {
                getForecast(item.position.lat, item.position.lng);
            }
        });
    }

    // Get forecast Grid
    async function getForecast(lat, lng) {
        const response = await fetch(`https://api.weather.gov/points/${lat},${lng}`);
        const gridData = await response.json();
        console.log(gridData.properties.forecastGridData);
        console.log(gridData.properties.forecast);
        console.log(gridData.properties.forecastHourly);
    }

</script>

<div>
    <input type="input" name="location" bind:value={location} placeholder="Search Location">
    <button on:click={handleClick}>Click me</button>
</div>

{#await promise}
    {#if loading}
        <p>Loading . . . </p>
    {/if}
{:then location}
    {#each location.items as item}
        <label>
            <input id={item.id} name="locationSelect" value={item.id} type="radio" bind:group={selectedLocationId} on:change={handleLocationSelect} >
            <span>{item.title}</span>
        </label>
        <br>
    {/each}
{:catch error}
	<p style="color: red">{error.message}</p>
{/await}
